.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-right {
    text-align: right;
}
.grid {
    display: grid;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.mx-\[15rem\] {
    margin-left: calc(-1 * 15rem);
    margin-right: calc(-1 * 15rem);
}
.mt-20 {
    margin-top: 5rem;
}
.p-2 {
    padding: 0.5rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.relative {
    position: relative;
}
.w-4\/5 {
    width: 80%;
}
.border {
    border-width: 1px;
    border-style: solid;
}
.border-1 {
    border-width: 1px;
}
.border-t {
    border-top-width: 1px;
}
.border-x {
    border-left-width: 1px;
    border-right-width: 1px;
}
.border-l {
    border-left-width: 1px;
}
.border-zinc-500 {
    border-color: #667eea;
}
.border-zinc-400 {
    border-color: #a78bfa;
}
.border-zinc-100 {
    border-color: #e2e8f0;
}
.border-b {
    border-bottom-width: 1px;
}
.border-black {
    border-color: #000000;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-right {
    text-align: right;
}
.font-bold {
    font-weight: 700;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.border-b {
    border-bottom-width: 1px;
}
.text-center {
    text-align: center;
}